

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: #6d1c78;
}

a:link {
    background: #B1B1B1;
    color: black;
    text-decoration: none;
    font-weight: lighter;
    border-width: 1px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;
    padding: 10px;
}

a:hover {
    background: #B1B1B1;
    color: #333;
    font-weight: lighter;
    border-color: #B1B1B1;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-blink: white;
}

h6 {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-blink: white;
    padding: inherit;
}

table {
    border-collapse: collapse;
}
table th td { /* Toda a tabela com fundo branco */
    border: 1px solid white;
    text-align: center;
    font-palette: light;

}
table {
    width: 60%;
    align-content: center;
    alignment: center;
    border-color: #ffffff
}

th, td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ffffff;
    border-color: #ffffff

}


