<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NullBank - Cadastro de Conta</title>
</head>

<link rel="stylesheet" href="estilo.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<style>
  .center {
    width:auto;
    text-align:center;
    padding:20px;
  }
  img {
    max-width:100%;
    height:auto;
  }
</style>

<body bgcolor="#6d1c78">

<div

        class = "center">
  <p id="my-image"><img src="logo.jpeg">
  </p>
</div>

<br>
<font color="#ffffff"><h1>Cadastro de conta</h1></font>

<font color="#ffffff" face="arial">

  <div style="text-align:center"><form id="form_login"><!--form content here--></form>

    <form method="post">

      <br>
      <input type="text" placeholder="Número conta" name="numeroConta"/>
      <br>
      <br>
      <input type="text" placeholder="Senha" name="senha"/>
      <br>
      <br>
      <br>
      <button type="submit">Cadastrar nova conta</button>
  </div>

</body>
</html>